.navbar-nav {
      flex-wrap:nowrap;
}
.nav-link {
      text-wrap: nowrap;
      color:#295c3e;
}
.nav-link.active {
      color:#295c3e;
      text-wrap: nowrap;   
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
      color:#295c3e;
  }
.nav-item {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 1.5rem;
      color:#295c3e;
      flex-wrap: nowrap;
}
li {
      color:#295c3e;  
}

.hero {
      display: flex;
      height: 240px;
      background-image: url(./images/landscape-1400x700.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 0;
      align-items: center;
}

h1,
h2,
h3, 
h4,
.nav-item,
li {
      color: #295c3e;
}

.about {
      margin-top: 40px;
      padding: 20px 40px;
}

.container-about {
      padding: 20px 60px;
}

.about-heading {
      margin-bottom: 1rem;
}

.about-image {
      display: flex;
      justify-content: center;
}

.services {
      background-color: #e5e9ea;

}
.container-marketing {
      display:flex;
      column-gap: 30px;
      padding-top: 60px;
      padding-bottom: 40px;
      background-color: #e5e9ea;
}
.services-row {
      --bs-gutter-x: 4rem;
      /* padding-top: 60px; */
}
.col-services {
text-align: center;
}
.services-image {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      margin-bottom: 10px;
}
.button-services {
      background-color: #588cdb;
}


.bi {
      color: white;
}

.projects-h2 {
      justify-content: center;
      text-align: center;
      margin-bottom: 30px;
      margin-top: 10px;
}

.services-heading {
      text-align: center;
      margin-bottom: 15px;
      margin-top: 10px;

      font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size:32px; font-weight: 400; height: 38.4px; line-height: 38.4px;
}
.p-services {
      text-align: justify;
      margin-bottom: 25px;
}

.btn-projects {
      padding-top: 5px;
      --bs-btn-bg: #588cdb;
      --bs-btn-color:white;
      font-weight: 400;
      font-size: 1rem;

}

@media (min-width: 992px) {
      .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
            justify-content: end;
      }

      .hero {
            display: flex;
            height: 540px;
            /* justify-content: flex-end; */
            background-image: url(./images/landscape-1400x700.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            margin: 0;
            align-items: center;
            /* height: 700px; */
      }
}